API_KEY="blabla"
TELEGRAM_TOKEN="blabla"
TELEGRAM_CHAT_ID=""
WIFI_SSID="blabla"
WIFI_PASSWD="blabla"

CALIB_DIR="data/calibration"
PATCH_DIR="data/photos/sighting/patch"
TIMELAPSE_DIR="data/timelapses"
DIARY_DIR="data/diary"
COMPARISON_DIR="data/photos/comparison"
SIGHTING_PATCH_DIR="data/photos/sighting/patch"
TIMELAPSE_PHOTOS_DIR="data/photos/timelapse"

SERVO_PIN=17
PUMP_ONE_PIN=4
PUMP_TWO_PIN=23
PUMP_THREE_PIN=24
FLOW_RATE=0.05
